@import ../../../_variables

.pagination
  margin-bottom: 10px
  span
    border: 1px solid lightgray
    cursor: pointer
    padding: 5px
    margin: 5px
    min-width: 35px
    text-align: center
    display: inline-block
    &.selected
      font-weight: bold
      color: white
      background-color: lightgray