@import ../../_variables
    
.header 
    grid-area: h
    background-color: #E17C65
    font-size: $font-simple_normal
    padding-left: 30px



.logo
    cursor: pointer
    margin: 5px
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2)
    border-radius: 50px
    background-color: white
    height: 50px
    width: 50px
    padding: 5px
    display: inline-block
    transition: 0.5s
    &:hover
        box-shadow: 3px 3px 5px 2px rgba(182, 105, 101, 0.5)
    img 
        display: block
        height: 100%
    
        
        
        
        


