@import ../../_variables
    
.navbar
    grid-area: n
    background-color: #B66965
    nav
        a
            color: white
            padding: 10px
            display: block
            cursor: pointer
            text-align: center
            transition: 0.5s
            &:hover
                letter-spacing: 1px
            &.active
                color: #E5CD54



