@import ../../../_variables

.dialog
    width: 100%
    a
        display: block
        width: 100%
        transition: 0.5s
        padding: 10px
        &:hover
            padding-left: 15px
        &.active
            font-weight: bold
