@import ../../_variables

.loginPage
  padding: 20px
  text-align: center

  h1
    font-size: $font-header_normal
    line-height: $font-header_normal
    margin-bottom: 20px

  .inputGroup
    text-align: center
    margin-bottom: 10px

    input:not([type=checkbox])
      width: 250px
      max-width: 100%

  .formSummaryError
    padding: 5px
    color: red
    text-align: center

  button
    margin-top: 10px



  .testAccountContainer
    margin-top: 100px

    h2
      margin-bottom: 20px

    span,i,a
      display: block

    span
      font-weight: bolder

    a
      text-decoration: underline
      color: $brand-color2
      &:hover
        text-decoration: none
